In [ ]:
#Q1
list=[]
n = int(input("Enter the number of elements you wish to enter in the list"))
for x in range(n):
    f=int(input("Enter the element"))
    list.append(f)
sum = sum(list)
print("The sum of the elements is: ", sum)
#Enter the number of elements you wish to enter in the list2
#Enter the element1
#Enter the element2
#The sum of the elements is:  3

In [ ]:
#Q2
tosearch = int(input("The value you wish to search is: "))
list = [1,1,3,4]
found = 0
i=0
for x in list:

    if tosearch == x:

        print("Element found at index", i)
        found =1
    i = i+1
if found == 0:
    print("Element not found")
#The value you wish to search is: 1

#Element found at index 0

#Element found at index 1

In [ ]:
#Q3
list =[]
n = int(input("Enter the number of elements you wish to enter in the list"))
for x in range(n):
    f=int(input("Enter the element"))
    list.append(f)
print("insert 13 on position 4")
list.insert(13, 4)
for y in list:
    print(y)
print("sort in ascending order")
list.sort()
for y in list:
    print(y)
#delete the last element
list.pop()
for y in list:
    print(y)
print("remove 31")
list.remove(31)
for y in list:
    print(y)
print("reverse the list")
list.reverse()
for y in list:
    print(y)
print("append")
g = int(input("Enter element to append"))
list.append(g)
for y in list:
    print(y)
print("Extend")
list1 = [20,30,40]
list.extend(list1)
for y in list:
    print(y)

#list = [1,2,3]
def count_elements(list):
    count = 0
    while list:
        list = list[1:]
        count += 1
    return count
print(count_elements(list))
#Enter the number of elements you wish to enter in the list3
#Enter the element31
#Enter the element22
#Enter the element33
#insert 13 on position 4
#31
#22
#33
#4
#sort in ascending order
#4
#22
#31
#33
#4
#22
#31
#remove 31
#4
#22
#reverse the list
#22
#4
#append
#Enter element to append2
#22
#4
#2
#Extend
#22
#4
#2
#20
#30
#40
#6

In [ ]:
#Q4
tup = (1,2,3)
print("MAXIMMUM", max(tup))
print("MINIMUM", min(tup))

In [ ]:
#Q5
set1 = {1,2,3}
set2={1,9,7}
f = int(input("Element to add"))
set1.add(f)
print("UNION", set1.union(set2))
print("INTERSECTION" ,set1.union(set2))
print("DIFFERENCE", set1.difference(set2))
print("SYMMETRIC DIFFERENCE" ,set1.symmetric_difference(set2))
print("Length", len(set1))
print("max",max(set1))
print("min",min(set1))
print("Clear",set1.clear())
#MAXIMMUM 3
#MINIMUM 1

In [ ]:
#Q6
week = {
    "1": "Monday",
    "2": "Tuesday",
    "3": "Wednesday",
    "4": "Thursday",
    "5": "Friday",
    "6": "Saturday",
    "7": "Sunday"
}
print(week)
#{'1': 'Monday', '2': 'Tuesday', '3': 'Wednesday', '4': 'Thursday', '5': 'Friday', '6': 'Saturday', '7': 'Sunday'}

In [ ]:
#Q7
dict = {
    "1": 100,
    "2": 200,
    "3": 300
}
print("Sum", sum(dict.values()))
#Sum 600

In [ ]:
#Q8
student = {
    "70022300056": 2,
    "70022300066": 2,
    "70022300058": 2,
}

print("Keys:", student.keys())
print("Values:", student.values())

i = input("Enter sap: ")
g = int(input('Enter grade: '))
if i in student:
    student[i] = g
print("Updated student:", student)

i = input("Enter sap to delete: ")
if i in student:
    del student[i]
    print("Deleted student:", student)

for x in student:
    student[x] += 5

print("Updated grades:", student)
print("Length:", len(student))

student1 = student.copy()
print("Copied student1:", student1)

#Keys: dict_keys(['70022300056', '70022300066', '70022300058'])
#Values: dict_values([2, 2, 2])
#Enter sap: 70022300056
#Enter grade: 4
#Updated student: {'70022300056': 4, '70022300066': 2, '70022300058': 2}
#Enter sap to delete: 70022300066
#Deleted student: {'70022300056': 4, '70022300058': 2}
#Updated grades: {'70022300056': 9, '70022300058': 7}
#Length: 2
#Copied student1: {'70022300056': 9, '70022300058': 7}

In [ ]:
#Q9
my_dict = {'banana': 3, 'apple': 1, 'orange': 2, 'grape': 4}

# Sorting the dictionary by keys
sorted_dict = dict(sorted(my_dict.items()))

# Printing the sorted dictionary
print(sorted_dict)
#{'apple': 1, 'banana': 3, 'grape': 4, 'orange': 2}